#title {
  background-color:#BEDCFA;
  color:#005A8D;
}

.container-fluid{
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h2{
  font-family:monospace;
  font-size: 2rem;
  line-height: 1;
}

body {
  font-family: "Montserrat";
}

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color:#005A8D;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
  color:#005A8D ;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

#features {
  padding: 7% 15%;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color:#BEDCFA;
  color:#005A8D;
}

.testimonials-image{
  width: 30%;
  border-radius: 50%;
  margin: 20px;
}

#press{
  background-color:#BEDCFA;
  text-align: center;
  padding-bottom: 3%;
}

.news-logo{
  width: 10%;
  margin: 20px 20px 20px 50px;
}

#pricing{
  text-align: center;
  padding: 7% 15%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background-color:#BEDCFA ;
  text-align: center;
  padding: 7% 15%;
  color: #005A8 ;
}

.cta-heading {
  font-family: sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #005A8 ;
}

#footer {
  text-align: center;
  padding: 7% 15%;
}
